/**
 * @fileOverview dashboard
 * @date 2023-12-06
 * @author poohlaha
 */
.home-page {
  font-size: @font;

  .file-content {
    height: 44px;
    min-height: 44px;
    box-shadow: 0 2px 8px 0 rgba(55, 0, 120, .05);
    padding: 0 24px;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #ffffff;

    .file {
      .text {
        margin-right: 8px;
        width: 50px;
        min-width: 50px;
      }

      .name {
        font-weight: bold;
        color: @theme;
      }
    }

    .file-right {
      button.reset {
        color: @theme_orange;

        &:hover {
          background: @color_menu_active;
        }
      }

      button:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  .content-box {
    padding-top: 44px;
  }

  .upload-wrapper {

    .ant-upload-wrapper {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      border-radius: 8px;
      color: rgba(0, 0, 0, 0.88);
      font-size: 14px;
      list-style: none;
      border: 1px dashed #d9d9d9;

      &.drag {
        border: 1px dashed @theme;
      }

      .ant-upload-drag {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        background: rgba(0, 0, 0, 0.02);
        cursor: pointer;
        transition: border-color 0.3s;

        .ant-upload-btn {
          width: 100%;
          height: 100%;
        }

        .ant-upload-drag-container {

          p.ant-upload-drag-icon {
            margin-bottom: 16px;
          }

          p.ant-upload-text {
            color: rgba(0, 0, 0, 0.88);
            font-size: 16px;
            font-weight: 500;
          }

          .ant-upload-hint-formats {

          }

          p.ant-upload-hint {
            color: rgba(0, 0, 0, 0.4);
            font-size: 14px;
            margin-top: 8px;
          }
        }
      }
    }

    .ant-upload-list {
      display: none!important;
    }
  }

  .archive-wrapper {
    .info {
      .svg-box {
        height: 140px;
        width: 120px;
      }

      .descriptions {
        margin-left: 20px;

        .title {
          font-size: @font_largest;
          font-weight: bold;
        }

        .desc {
          margin-top: 4px;

          span:first-child {
            font-weight: bold;
          }

          span:last-child {
            color: rgba(0,0,0,0.66);
            margin-left: 10px;
          }
        }
      }
    }

    .list {
      margin-top: 30px;

      &.no-show-page {
        .ant-pagination {
          display: none!important;
        }
      }

      .ant-table-cell {
        .name-cell {

          .svg-box {
            margin-right: 8px;
          }

          .dir {
            width: 24px;
            height: 20px;
          }

          .file {
            width: 20px;
            height: 24px;
          }
        }
      }
    }
  }

  .image-wrapper {
    img {
      cursor: grab;
      user-select: none;
      transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .operation:first-child {
      svg {
        transform: rotate(90deg);
      }
    }
  }
}

.image-wrapper, .preview {
  .actions-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 20px;

    .actions {
      padding: 8px 16px;
      background: #ffffff;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
      border-radius: 24px;
      display: flex;
      align-items: center;

      .operation {
        width: 32px;
        height: 32px;
        cursor: pointer;
        user-select: none;
        transition: all 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;

        &:not(:last-child) {
          margin-right: 8px;
        }

        &.disabled {
          cursor: not-allowed;
          .action {
            color: rgba(0, 0, 0, 0.66);
            opacity: 0.8;
          }
        }

        &:not(.disabled):hover {
          background: rgba(0,0,0,.06);
          border-radius: 16px;
        }

        .action {
          font-size: @font_larger;
          color: rgba(0, 0, 0, 0.88);
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            width: 18px;
            height: 18px;
          }
        }
      }

      .operation:first-of-type {
        margin-inline-start: 0;
      }
    }
  }
}

.page {
  .wrapper {
    min-width: 800px;
    padding-top: 24px;
    padding-bottom: 24px;

    pre {
      width: 100%;
      height: 100%;

      code {
        padding-bottom: 24px;
      }
    }
  }
}

.ant-drawer {
  .ant-drawer-content-wrapper {
    width: 50% !important;

    .ant-drawer-body {
      pre {
        padding: 24px;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .page {
    .wrapper {
      padding: 24px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .page {
    .wrapper {
      &:not(.is-empty) {
        padding: 24px 152px;
      }

      &.is-empty {
        padding: 24px;
      }
    }
  }
}

